@using MagazaUrunTakip.Models.Entitiy
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TblKategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Kategori</th>
        <th class="text-center">Sil</th>
        <th class="text-center">Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">@item.ID</td>
            <td class="text-center">@item.Ad</td>
            <td class="text-center"><a href="/Kategori/KategoriSil/@item.ID" class=" btn btn-danger">Sil</a></td>
            <td class="text-center"><a href="/Kategori/KategoriGetir/@item.ID" class=" btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action(ViewBag.Title, new { sayfa }))
<a href="/Kategori/YeniKategori" class="btn btn-primary">Yeni Kategori</a>