
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post">
    <h2>Yeni Kategori Ekleme</h2>
    <br />
    <input type="text" class="form-control" name="Ad" placeholder="Kategori Adını Giriniz..." />
    <button class="btn bg-info" style="margin-top:15px">Kaydet</button>
</form>
