@model MagazaUrunTakip.Models.Entitiy.TblKategori
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post">
    <h2>Yeni Kategori Ekleme</h2>
    <br />
    <label>Kategori Adını Giriniz:</label>
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Ad, "", new { @style = "color:red" })
    <br />
    <button class="btn bg-info" style="margin-top:15px">Kaydet</button>
</form>
